$prm-font: Verdana;
$sec-font: Brooklyn Sans FB;

$clr1:#007bff;
$clr2:#6c757d;


$brdr1:black;
$brdr2:#007bff;
$brdr3:#6c757d;
$brdr4:transparent;

$mrgn-tp1:2%;
$mrgn-tp2:5%;
$mrgn-tp3:10%;

$mrgn-lft1:2%;
$mrgn-lft2:5%;
$mrgn-lft3:10%;

$padd1:2%;
$padd2:5%;
$padd3:10%;